@import url(variables.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color--five);
    font-family: "Roboto-Regular";
}
body{
    background: var(--color--one);
}
.description__container i{
 font-size: 1.8em;
}
.description__container div small{
    color: var(--color--two);
}
.description__container h3{
    font-size: 1em;
    padding-top: 5px;
    color: var(--color--two);
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    background-color:  var(--color--five);
}
*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--color--two);
}

.header__title {
    /* background: red; */
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.a__button {
    width: 35%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--color--two) 1.5px solid;
    text-decoration: none;
    border-radius: 7px;
}
.a__button:hover {
    background-color: white;
    color: var(--color--one);
    border: none;
    width: 38%;
    height: 38%;
}
.main {
    /* background: orange; */
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
}

.description__item {
    /* background: blue; */
    overflow-y: scroll;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 5%;
    padding-left: 8%;
}
.description__buttom{
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 5px;
}
.nav__information {
    height: 100%;
    width: 100%;

}
.nav__description {
    width: 100%;
    padding-left: 5%;
}
.description__buttom a {
    text-decoration: none;
    border: var(--color--two) 1.5px solid;
    border-radius: 7px;
    width: 35%;
    height: 35%;
    font-size: 0.95em;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}
.description__buttom a:hover{
    background-color: var(--color--five);
    border: none;
    color: var(--color--one);
    width: 38%;
    height: 38%;
}
.description__container {
    /* background: violet; */
    display: flex;
    gap: 10px;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: var(--layout-description-container-y);
}

.box_1 {
    max-width: 23.6%;
    min-width: 23.6%;
    height: 100%;
    background-color: #1a1a33;
    border-radius: 15px;

}

.box_2 {
    max-width: 65%;
    min-width: 65%;
    height: 100%;
    background-color: #1a1a33;
    border-radius: 15px;
}

.box_4 {
    max-width: 65%;
    min-width: 65%;
    height: 100%;
    background-color: #1a1a33;
    border-radius: 15px;
}

.main__section {
    /* background: green; */
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 8vh);
    grid-template-areas: 
    "section__item__1 section__item__1 section__item__1"
    "section__item__1 section__item__1 section__item__1"
    "section__item__1 section__item__1 section__item__1"
    "section__item__2 section__item__3 section__item__4"
    "section__item__2 section__item__3 section__item__4"
    "section__item__2 section__item__3 section__item__4"
    "section__item__5 section__item__3 ."
    "section__item__5 section__item__3 ."
    "section__item__5 section__item__3 ."
    "section__item__5 section__item__3 ."
}
.section__item__1{
    /* background: red; */
    grid-area: section__item__1;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 2%;
    padding-right: 2%;
    padding: 5px;
}
.section__item__2{
    /* background: #d9ff00; */
    grid-area: section__item__2;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 2%;
    padding-right: 2%;
    padding: 5px;
}
.section__item__3{
    background: #00ff84;
    grid-area: section__item__3;
}
.section__item__4{
    /* background: #ff00aa; */
    grid-area: section__item__4;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 2%;
    padding-right: 2%;
    padding: 5px;
}
.section__item__5{
    background: #502a43;
    grid-area: section__item__5;
}

.information__item {
    /* background: violet; */
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information__buttom{
    /* background: #00ff84; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 10%;
    font-weight: bold;
}
.gray__words {
    color: var(--color--two);
    text-decoration: none;
    font-size: 0.9em;
}
.information__container {
    /* background: blue; */
    display: flex;
    gap: 15px;
    align-content: center;
    margin: 0 var(--layout-description-container-x);
    margin-bottom: var(--layout-description-container-y);
}
.information__container div:first-child{
    width: 60%;
}
.information__container div:first-child progress{
    width: 100%;
}
.information__container div:last-child {
    /* background: red; */
    width: 40%;
    display: flex;
    align-items: flex-end;
}

.footer {
    height: 10vh;
    display: grid;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". footer__menu .";
}

.footer ul {
    grid-area: footer__menu;
    /* background: violet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul li{
    list-style: none;
}
.footer ul li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
}

.footer ul li a img {
    width: 40px;
    height: 40px;
}

.footer ul li a i {
    font-size: 40px;
}
